<section class="prizes">
  <h2 class="h4">Sponsors</h2>
  <div class="sponsors-grid">
    <div class="sponsors">
        <img src="/images/logo_anr_improved.png" alt="ANR-IMPROVED"/>
    </div>
    
    <div class="sponsors">
      <img src="/images/Logo-SNPS-Bleu.jpg" alt="SNPS" />
    </div>

  </div>
  <h2 class="h4 mt-4">Sponsorship & Prizes</h2>
  <p>
    The Grand Challenge is supported by the <strong>IMPROVED</strong> project (ANR) and the National Forensic Science Service of the French National Police (pending approval).
    Industry co-sponsorship is welcome in intelligent transportation, computer vision, and security.
    Confirmed sponsors will support logistics and prizes. Cash prizes (exact amount to be announced) will be awarded to the top teams.
  </p>

<p> To be annouced </p>
 <!-- <div class="prizes-table-wrapper">
    <table class="table table-bordered align-middle">
      <thead>
        <tr class="table-dark">
          <th scope="col">Ranking</th>
          <th scope="col">Prizes</th>
        </tr>
      </thead>
      <tbody>
         <tr>
           <td>1st</td>
           <td>To be announced</td>
         </tr>
         <tr>
           <td>2nd</td>
           <td>To be announced</td>
         </tr>
        <!-- <tr>
          <td>3rd</td>
          <td></td>
        </tr> -->
      </tbody>
    </table> -->
</section>
